body {
  font-family: Arial, sans-serif;
  padding-top: 40px;
}

#product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#cart-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* #product-list div {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  width: 200px;
  text-align: center;
} */

#product-list div h2 {
  font-size: 1.2em;
}

#cart-list div h2 {
  font-size: 1.2em;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
}

/* #product-list div p {
  font-size: 0.9em;
} */
